/* Barra de navegación */
#menu{
    background-color: black !important;
}
#menu .nav-link{
    color: rgb(88, 174, 181);
}
#menu .dropdown-menu{
    background-color: black;
}
#menu .dropdown-item{
    color: rgb(88, 174, 181);
}
#menu .logo{
    width: 70px;
}

/* Sección titulo y video */
#sectitulo{
    background-color: rgba(239, 200, 244, 0.707);
    margin-top: 50px;
}
#sectitulo .titulo1{
    color: rgb(88, 174, 181);
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sectitulo .titulo2{
    color: #000;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Sección Mujer */
#mujer{
    background-color: rgba(229, 130, 191, 0.786);
}
#mujer .titulomujer{
    text-align: center;
    font-size: 31px;
}
.h3mujer{
    font-size: 24px;
}
.card{
    font-size:50%;
}
.box{
    width: 33%;
    display: inline-block;
}
.card-title{
    color: #000;
    text-align: center;
    font-size: 18px;
}
.card-text{
    color: #000;
    text-align: center;
    font-size: 18px;
}

/* Sección Niña */
#niña{
    background-color: rgba(171, 116, 222, 0.901);
}
.tituloniña{
    text-align: center;
    font-size: 31px;
}

/* Sección hombre */
#hombre{
    background-color: rgba(65, 65, 226, 0.915);
}
.titulohombre{
    text-align: center;
    font-size: 31px;
}

/* Sección niño */
#niño{
    background-color: rgba(63, 197, 197, 0.923);
}

.tituloniño{
    text-align: center;
    font-size: 31px;
}
}