/* Barra de navegación */
#menu{
    background-color: black !important;
}
#menu .nav-link{
    color: rgb(88, 174, 181);
}
#menu .dropdown-menu{
    background-color: black;
}
#menu .dropdown-item{
    color: rgb(88, 174, 181);
}
#menu .logo{
    width: 70px;
}

/* Sección titulo y video */
#sectitulo{
    background-color: rgba(239, 200, 244, 0.707);
    margin-top: 50px;
}
#sectitulo .titulo1{
    color: rgb(88, 174, 181);
    text-align: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sectitulo .titulo2{
    color: #000;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
